In [ ]:
for i in[0,3,5]:
   print(word[i])

In [ ]:
word[0]="t"

In [ ]:
word

In [ ]:
emp_sal=[100,200,300,400,500]
print(emp_sal)

In [ ]:
type(emp_sal)

In [ ]:
emp_sal_name=["ram",100,"sham",200,"asim",300,"wasim",400,"roshan",500]
emp_sal_name

In [ ]:
emp_sal_name_a1=[["ram",100],["sham",200],["asim",300],["wasim",400],["roshan",500]]
emp_sal_name_a1

In [ ]:
print(emp_sal_name_a1[0])

In [ ]:
print(emp_sal_name_a1[-1])

In [ ]:
print(emp_sal_name_a1[0:4])

In [ ]:
print(emp_sal_name_a1[:4])

In [ ]:
print(emp_sal_name_a1[2:])

In [ ]:
print(emp_sal_name_a1[0][0])

In [ ]:
print(emp_sal_name_a1[:][2])

In [ ]:
print(emp_sal_name_a1[:1][0:2])

In [ ]:
print(emp_sal_name_a1[2:5][0:3])

In [ ]:
emp_sal_name_a1=[["ram",100],["sham",200],["asim",300],["wasim",400],["roshan",500]]

In [ ]:
print(emp_sal_name_a1[-1][-1])

In [ ]:
emp_sal_name_a1[0]="ram Reddy"

In [ ]:
emp_sal_name_a1

In [ ]:
emp_sal_name_a1[0][0]="ram Reddy"

In [ ]:
emp_sal_name_a1=[["ram",100],["sham",200],["asim",300],["wasim",400],["roshan",500]]

In [ ]:
emp_sal_name_a1[0][0]="ram Reddy"

In [ ]:
emp_sal_name_a1

In [ ]:
emp_sal_name_a1[2:4]=["willis",2100]

In [ ]:
emp_sal_name_a1

In [ ]:
emp_sal_name_a1=[["ram",100],["sham",200],["asim",300],["wasim",400],["roshan",500]]

In [ ]:
emp_sal_name_a1[2][0]="ROBERT"
emp_sal_name_a1

In [ ]:
emp_sal_name=emp_sal_name+["AJAY",3000]
emp_sal_name

In [ ]:
emp_sal_name=emp_sal_name+["AJAY",3000]
del(emp_sal_name[2:4])

In [ ]:
emp_sal_name

In [ ]:
x=[100,300,400]
y=x
y

In [ ]:
z=list(x)
z

In [ ]:
y[0]=101
print(y)
print(x)
print(z)

In [ ]:
z[2]=201
print(z)
print(x)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
marks=np.array([10,20,30,40,50,60,70,80,90,80])
print(marks>50)
print(marks[marks>50])

In [ ]:
brics=pd.read_csv("brics.csv",index_col=0)
print(brics)

In [ ]:
print(brics["are"])

In [ ]:
print(brics[brics["are"]>200])

In [ ]:
print(brics[brics["are"]>200])

In [ ]:
print(brics[np.logical_and(brics["are"]>152,brics["are"]<1000)])

In [ ]:
x=np.matrix([[1,2],[3,4]])
x.sum()

In [ ]:
a,b=0,1
while b<20:
    print(b)
    a,b=b,a+b

In [ ]:
a,b=0,1
while b<20:
    print(b,end=',')
    a,b=b,a+b

In [9]:
i=0
while i<10:
    i+=1
    if i == 3:
        print("You Failed")
        continue
    print(i)

1
2
You Failed
4
5
6
7
8
9
10

In [20]:
family_heights=[6,6.6,6.2,5.5,5.7,5.8]
for height in family_heights:
    print(height)
    
for index,height in enumerate(family_heights):
    print("indes "+str(index)+" :  "+str(height))

6
6.6
6.2
5.5
5.7
5.8
indes 0 :  6
indes 1 :  6.6
indes 2 :  6.2
indes 3 :  5.5
indes 4 :  5.7
indes 5 :  5.8

In [40]:
house=[["ram",100,"asdfgadsfadsf"],["sham",200],["asim",300],["wasim",400],["roshan",500,"asdfadfadf"]]
for x in house:
    print("my friend "+str(x[0:3]))

my friend ['ram', 100, 'asdfgadsfadsf']
my friend ['sham', 200]
my friend ['asim', 300]
my friend ['wasim', 400]
my friend ['roshan', 500, 'asdfadfadf']

In [43]:
word={"Ram":100,"Sham":200,"Asim":300,"Wasim":400}
word

{'Ram': 100, 'Sham': 200, 'Asim': 300, 'Wasim': 400}

In [45]:
for key,value in word.items():
    print(str(key)+" ears "+str(value)+" rupee per day.")

Ram ears 100 rupee per day.
Sham ears 200 rupee per day.
Asim ears 300 rupee per day.
Wasim ears 400 rupee per day.

In [46]:
import numpy as np

In [63]:
name =np.array(["RAM","SHAM","ASIM","WASIM"])
height=np.array([5.5,5.8,6.4,6.1])
name_height=np.array([name,height])
for a in (name_height):
    print(a)

['RAM' 'SHAM' 'ASIM' 'WASIM']
['5.5' '5.8' '6.4' '6.1']

In [57]:
name =np.array([12,14,15,16])
height=np.array([5,5,6,6])
name_height=np.array([name,height])

In [75]:
abc = [13,13,12,16]
xyz = [43,23,56,20]
fulls=sorted(abc+xyz,reverse=True)
print(fulls)

[56, 43, 23, 20, 16, 13, 13, 12]

In [80]:
def square (value1,value2):
    new_value = value1 ** value2
    return new_value
rs=square(10,2)
print(rs)

100

In [88]:
import pandas as pd
brics=pd.read_csv("brics.csv",index_col=0)
print("01.Column Names")
for val in brics:
    print(val)

01.Column Names
code
country
capital
area
population

In [94]:
tp=("apple","banana","cherry")
for x in tp:
    print(x)

apple
banana
cherry

In [95]:
if "apple" in tp:
    print("yes! it is there")

yes! it is there

In [100]:
x=("apple","banana","cherry")
y=list(x)
x
y[1]="kiwi"
y

('apple', 'banana', 'cherry')

In [99]:

x=tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [101]:
even_nums=(2,4,6,8)
print(type(even_nums))

<class 'tuple'>

In [104]:
even_nums1=(6,10,6,8)
print(type(even_nums1))
print(even_nums1)

<class 'tuple'>
(6, 10, 6, 8)

In [110]:
a,b,c,d=even_nums
print("a="+str(a))
print("b="+str(b))
print("c="+str(c))
print("d="+str(d))
print(even_nums[0])

a=2
b=4
c=6
d=8
2

In [112]:
def raise_both(vl1,vl2):
    nvl1=vl1**vl2
    nvl2=vl2**vl1
    net=(nvl1,nvl2)
    return net
rs=raise_both(10,2)
print(rs)

(100, 1024)

In [114]:
sett = {"apple","cherry","mango"}
print("apple" in sett)

True

In [ ]:
sett = {"apple","cherry","mango"}
thiset1 = {"orange","grapes","banana"}

In [ ]:
5**2

In [ ]:
_+3

In [ ]:
17//2

In [ ]:
a=3.5
b=10

In [ ]:
print(type(a))

In [ ]:
type(a)

In [ ]:
c = 10+4j

In [ ]:
type(c)

In [ ]:
savings= 100
insterest = 12
total_amount = savings+100*insterest*2/100

In [ ]:
print("Total amount after insterest  is "+str(total_amount)+" with interest of "+str(insterest)+"%")

In [ ]:
pi_string="3.5555"
print(type(pi_string))

In [ ]:
pi_float=float(pi_string)
type(pi_float)

In [ ]:
word="python"

In [ ]:
word[0:4]

In [ ]:
word[2:5]